body{
	margin: 10px;
	font-size: 150%;
	
	
	background: url(imgs/bgImg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}



.listDetails ul li{
	margin: 15px;
}

.listDetailsInner ul li{
	margin: 7px;
}

.documentsList table tr td{
	padding: 15px;
	font-size: 14px;
}

.rcorners{
    border-radius: 7px;
    padding: 20px;
    background-color: #FAFAFA;
    min-height: 255px;
}

.box {
    padding: 0 5px 0 5px;
}

.homeResumo{
	padding: 20px 20px 20px 40px;
}